[mysqld]
innodb_buffer_pool_chunk_size=1G
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 4
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_file_per_table = 1
skip-log-bin
skip-general-log
slow-query-log = 0
innodb_doublewrite = 0
innodb_flush_log_at_trx_commit = 0